<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/form.css">
    <title>Rainfall Prediction Form</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>

    <div style="background-color: navy; color: white; ">
        &nbsp&nbspNeural Archmages <ion-icon name="cloudy-night-outline"></ion-icon>
    </div>
    <section>

    <div class="form-box">
        <div class="form-value">
            <h2>Enter Email</h2>
            <form action = "/mail-Sent" method = "post">
                <div class="inputbox">
                    <input required autocomplete ="on" type="email" name="remail">
                    <label for="">Email</label>
                    <ion-icon name="mail-outline"></ion-icon>
                </div>
                <!-- <input type="submit" value="Send"> -->
                <button type="submit" value="Send">
                    Send
                </button>
            </form>
    </section>
    <div style="background-color: navy; color: white; text-align: right;">
        Neural Archmages <ion-icon name="cloudy-night-outline"></ion-icon> &nbsp&nbsp
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
